@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-style: normal;

}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
}

.dark-side-lobe {
    background-color: #1f2937;
    min-inline-size: 10%;
    border: solid 2px red;
}

.darkbg {
    border: solid 2px red;

    background-color: #1f2937;
}

.lightbg {
    border: solid 2px red;

    background-color: #f9faf8;
}

.header {
    display: flex;
    justify-content: center;
}



.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    border: solid 2px red;
    text-align: left;
    width: 40%;

}

.header-link-container {
    border: solid 2px red;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.hero {
    display: flex;
    justify-content:center;
}

.hero-left {
    width: 40%;
}

.hero-right {
    width: 40%;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    background-color: #6d747d;
    color: #e5e7eb;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infotron {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-overworld {
    width: 80%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.info-container-container {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    justify-content: space-around;

}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-image {
    border: 5px solid #3882f6;
    border-radius: 12px;
    height: 180px;
    width: 180px;
}

.info-subtext {
    text-align: center;
    font-size: 18px;
    max-width: 180px;
}


.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 80%;


}

.quote.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.quote.quote-person {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    justify-content: right;
}


.action-time {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 12px;
}

.action-time.action-title {
    font-size: 24px;
}

.action-time.action-text {
    font-size: 18px;
}

.action-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%
}
.action-right {
    display: flex;
    justify-content: center;
    width: 30%
}

.footer-text {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
}